<!DOCTYPE html>
<html>

<head>
    <title>Image Classification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <script>
        function chooseFile() {
            document.getElementById('fileInput').click();
        }

        function displayFileName() {
            const fileInput = document.getElementById('fileInput');
            const fileNameDisplay = document.getElementById('fileNameDisplay');

            // Get the selected file (if any)
            const selectedFile = fileInput.files[0];

            // Display the file name
            if (selectedFile) {
                fileNameDisplay.textContent = selectedFile.name;
            } else {
                fileNameDisplay.textContent = "No file selected";
            }
        }
    </script>
    <h1>Upload an Image for Classification</h1>
    <form method="POST" enctype="multipart/form-data">
        <div>
        <!-- Button to trigger file selection -->
        <button id="choose_file" type="button" style="display: inline-block;" onclick="chooseFile()">Choose File</button>
        <!-- Display the selected file name -->
        <div id="fileNameDisplay" style="display: inline-block;">No file selected</div>
        <!-- Hidden file input element -->
        <input id="fileInput" type="file" name="file" accept=".jpg, .png, .jpeg" style="display: none;" required onchange="displayFileName()">
        <div style=" margin-top: 10px;" >
        <input id="predict" type="submit" value="Predict" >
    </div>
    </div>            
    </form>
</body>

</html>